<main>
  <header class="primary-header">
    <table style="width:100%; table-layout: fixed;"><tbody><tr>
      <td style="width:80px"><img class="brand-logo" style="margin-top:5px; vertical-align: bottom;" src="/assets/logo.png" alt="logo" aria-hidden="true" /></td>
      <td class="primary-header mat-h1" style="text-overflow: ellipsis; white-space: nowrap;overflow: hidden; text-align:left; align:left">Indianapolis International Airport
      </td>
    </tr></tbody></table>
    <title>Sky is Open</title>
  </header>
  <section class="content">
    <app-home></app-home>
  </section>
</main>
