@use '@angular/material' as mat;
@import "../../styles.scss";

mat-tab-group {
  background-color: mat.get-theme-color($theme, primary, default);
}

tr.mat-header-row {
  font-size: 18px;
  color: mat.get-theme-color($theme, primary, lighter);
  background-color: mat.get-theme-color($theme, background, selected-button);
}

td {
   color: mat.get-theme-color($theme, primary, lighter);
}

.target {
  font-weight: bold;
  background-color: mat.get-theme-color($theme, accent, default);
  color: mat.get-theme-color($theme, accent, default-contrast);
}

.mat-mdc-row:hover .mat-mdc-cell {
   background-color: mat.get-theme-color($theme, background, hover);
}


.mat-column-type {
   width: 50px;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.container {
  background-color: mat.get-theme-color($theme, primary, default);
  background-image: url("../../assets/background.png");
  position:absolute;
  width: 99%;
  top: 50px;
  bottom: 50px;
  overflow: auto;
}
