@use '@angular/material' as mat;
@import "../../styles.scss";

mat-tab-group {
  background-color: mat.get-theme-color($theme, background, background);
  position: absolute;
  top: 65px;
  bottom: 47px;
  overflow: auto;
  left: 50%;
  transform: translate(-50%, 0);
  width:1024px;
}

tr.mat-header-row {
  font-weight: bold;
  font-size: 18px;
  color: mat.get-theme-color($theme, primary, lighter);
  background-color: mat.get-theme-color($theme, primary, default);
}

td {
   color: mat.get-theme-color($theme, primary, lighter);
}

.target {
  font-weight: bold;
  background-color: mat.get-theme-color($theme, accent, default);
  color: mat.get-theme-color($theme, accent, default-contrast);
}

.track {
  background-color: mat.get-theme-color($theme, background, focused-button);
}

.mat-mdc-row:hover .mat-mdc-cell {
   background-color: mat.get-theme-color($theme, background, hover);
}

.mat-column-type {
   width: 50px;
}

.footer {
  position: fixed;
  bottom: 4px;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
}

/* Just fill up screen if max-width <= 1024 */
@media only screen and (max-width: 1024) {
  mobile {
    width: 100%;
  }
}
