@use '@angular/material' as mat;
@import "../../styles.scss";

mat-toolbar.header {
   background-color: mat.get-theme-color($theme, primary, 700);
   position: relative;
   z-index: 10;
   width:100vw;
   transform: translate(-8px, 0);
}

.spacer {
  width: 16px;
}

.sec-toolbar {
  position: absolute;
  z-index: 0;
  background-color: mat.get-theme-color($theme, primary, default);
  justify-content: center;
   width: 1024px;
  left: 50%;
  transform: translate(-50%, 0);
}

.tt {
  position: relative;
   z-index: 0;
}

.mat-mdc-raised-button.identify {
  background-color: mat.get-theme-color($theme, primary, 600);
  }

.container {
  z-index:5;
  position: absolute;
  top: 140px;
  bottom: 47px;
  overflow: auto;
  left: 50%;
  transform: translate(-50%, 0);
  width:1024px;
}

tr.mat-header-row {
   background-color: mat.get-theme-color($theme, primary, A100);
   color: mat.get-theme-color($theme, primary, 900);
   position: relative;
    z-index: 0;
}

td {
   color: mat.get-theme-color($theme, primary, lighter);
}

.target {
  font-weight: bold;
  background-color: mat.get-theme-color($theme, accent, default);
  color: mat.get-theme-color($theme, accent, default-contrast);
}

.track {
  position: relative;
  z-index:10;
  box-shadow: 0px 1px 2px mat.get-theme-color($theme, primary, default);
}

.mat-mdc-row:hover .mat-mdc-cell {
   background-color: mat.get-theme-color($theme, background, hover);
}

.mat-column-type {
   width: 50px;
}

.footer {
  position: fixed;
  z-index: 10;
  bottom: 4px;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
}

/* Just fill up screen if max-width <= 1024 */
@media only screen and (max-width: 1024px) {
  .container {
    width: 100vw;
  }
}
/* Move because headers have smaller height for narrow screen */
@media only screen and (max-width: 600px) {
  .container {
    top: 120px;
  }
}
/* Looks better if sec-header has margins */
@media only screen and (max-width: 1032px) {
  .sec-toolbar {
    width: auto;
    left: 4px;
    right: 4px;
    transform: translate(0, 0);
  }
}
